body {
    width: 1900px;
}

/* Navbar Styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.875rem 9.4rem 7rem 9.4rem;
}

.navbar a {
    text-decoration: none;
    margin-left: 4rem;
    color: #333;
    font-size: 1.25rem;
    font-weight: 700;
}

.navbar span {
    margin-right: 1rem;
}

@media screen and (max-width: 576px) {
    
    .navbar {
        flex-wrap: wrap;
        margin-left: 0;
        padding-left: 2rem;
        
    }

    .link-1, .link-2, .link-3 {
    visibility: hidden;
    }

    .link-4 {
        margin: 0;
    }

}


/* Banner Styles */

.banner {
    width: 100%;
    margin: 0 9.375rem;
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 490px;
}

.hero {
    order: 1;
}

.hero h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 13px;
}

.hero span {
    color: #E95A08;
}

.hero p {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
}

.hero-img {
    width: 570px;
    height: 355px;
    order: 2;
}

@media  screen and (max-width: 576px) {
    
    .banner {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        padding: 20px;
        gap: 0;
    }

    .hero {
        order: 2;
        width: 100%;
    }
    .hero-img {
        order: 1;
        width: 100%;
    }
}

/* Plants Section Styles */

.plants {
    text-align: center;
    margin: 7rem 24.375rem;
}

.plants h2 {
    font-size: 4.125rem;
    font-weight: 700;
    margin-bottom: 0;
}

.plants span {
    color: #E95A08;
    margin-right: 1rem;
}

.plants p {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
    margin-bottom: 4.125rem;
}

.plants-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
    row-gap: 4rem;
}

.plant-card img {
    margin-bottom: 1.8rem;
}

.card-title {
    font-size: 1.725rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.number {
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1.75rem;
}

.plant-card a {
    text-decoration: none;
    margin-top: 0;
    color: #ffffff;
    background-color: #E95A08;
    padding: 1.5rem 5rem;
}

.plant-card a:hover {
    background-color: rgb(109, 207, 207);
}


@media screen and (max-width: 576px) {
    
    .plants {
        margin: 0;
        text-align: center;
    }


    .plants-card {
        grid-template-columns: repeat(2, 1fr);
    }
}