body {
    width: 1900px;
}

/* Navbar Styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.875rem 24.375rem 7rem 24.375rem;
}

.navbar a {
    text-decoration: none;
    margin-left: 4rem;
    color: #333;
    font-size: 1.25rem;
    font-weight: 700;
}

.navbar span {
    margin-right: 1rem;
}

.link span {
    color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 576px) {
    
    .navbar {
        flex-wrap: wrap;
        margin-left: 0;
        padding-left: 2rem;
        
    }

    .link-1, .link-2, .link-3 {
    display: none;
    }

    .link-4 {
        margin: 0;
    }

}


/* Banner Styles */

.banner {
    width: 100%;
    margin: 0 24.375rem;
    display: grid;
    grid-template-columns: 570px 570px;
    
}

.hero {
    order: 1;
}

.hero h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 13px;
}

.hero span {
    color: #E95A08;
}

.hero p {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
}

.hero-img {
    width: 570px;
    height: 355px;
    order: 2;
}

@media  screen and (max-width: 576px) {
    
    .banner {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        padding: 20px;
        gap: 0;
    }

    .hero {
        order: 2;
        width: 100%;
    }
    .hero-img {
        order: 1;
        width: 100%;
    }
}

/* Plants Section Styles */

.plants {
    text-align: center;
    margin: 7rem 24.375rem;
}

.plants h2 {
    font-size: 4.125rem;
    font-weight: 700;
    margin-bottom: 0;
}

.plants span {
    color: #E95A08;
    margin-right: 1rem;
}

.plants p {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
    margin-bottom: 4.125rem;
}

.plants-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
    row-gap: 4rem;
}

.plant-card img {
    margin-bottom: 1.8rem;
}

.card-title {
    font-size: 1.725rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.number {
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1.75rem;
}

.plant-card a {
    text-decoration: none;
    margin-top: 0;
    color: #ffffff;
    background-color: #E95A08;
    padding: 1.5rem 5rem;
}

.plant-card a:hover {
    background-color: rgb(109, 207, 207);
}


@media screen and (max-width: 576px) {
    
    .plants {
        margin: 0;
        text-align: center;
    }


    .plants-card {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Flower Love Section */

.sample-flower-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12rem;
    margin-left: 24.375rem;
    margin-right: 24.375rem;
    margin-bottom: 7rem;
}

.flower-image {
    background: url(./assets/flower-store.png);
    width: 540px;
    height: 597px;
}

.flower-image img {
    height: 286px;
    width: 286px;
    background: transparent;
    margin-left: 350px;
    transform: translateY(-110px);
}

.flower-text h2 {
    font-size: 4.125rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.point li {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}


/* Latest Section Styles */

.latest {
    margin: 0 24.375rem 7rem 24.375rem;
    text-align: center;
}

.latest h2 {
    font-size: 4.125rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.latest span {
    color: #E95A08;
}

.latest p {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 4rem;
}

.img-container {
    display: flex;
    flex: 1 2;
    gap: 20px;
}

.img-1 {
    background: linear-gradient(rgba(7, 2, 17, 0.3), rgba(7, 2, 17, 0.3)), url(./assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    height: 200px;
    width: 367px;
    border-radius: 14px;
}

.img-1 h4 {
    padding-top: 64px;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.img-1 a {
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
}


.img-2 {
    background: linear-gradient(rgba(7, 2, 17, 0.3), rgba(7, 2, 17, 0.3)), url(./assets/deal-ana.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    height: 200px;
    width: 367px;
    border-radius: 14px;
}

.img-2 h4 {
    padding-top: 64px;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.img-2 a {
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
}


.img-container-2 {
    background: linear-gradient(rgba(7, 2, 17, 0.3), rgba(7, 2, 17, 0.3)), url(./assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    width: 753px;
    height: 425px;
    margin-top: 32px;
    border-radius: 22px;
}

.img-container-2 h4 {
    font-size: 2.5rem;
    margin: 172px 128px 8px 128px;
}

.img-container-2 a {
    font-size: 1.75rem;
    font-weight: 600;
}


/* Join Section Styles */

.join-container {
    text-align: center;
    margin: 0 15.375rem 7rem 15.375rem;
    background: url(./assets/news-letter-bg.png);
    width: 1440px;
    height: 530px;
}

.join-container h2 {
    font-size: 3.125rem;
    font-weight: 700;
    color: #ffffff;
    padding-top: 10rem;
    margin-bottom: 1.75rem;
}

.join-container input {
    height: 3.125rem;
    width: 40rem;
    padding: 15.5px 0 15.5px 2rem;
    color: rgba(0, 0, 0, 0.5);
    border: none;
}

.join-container a {
    background-color: #E95A08;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    padding: 33px 3.5rem;
    margin-left: -1rem;
}

.join-container a:hover {
    background-color: rgb(109, 207, 207);
    transition: background-color 0.5s ease-in;
}